POSTGRES_DB=hubextract_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
REDIS_URL=redis://127.0.0.1:6379/0
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0
HUBSPOT_API_URL=https://api.hubapi.com/crm/v3/objects/contacts
HUBSPOT_API_LIMIT=5
HUBSPOT_TIMEOUT_SECONDS=10
WEBHOOK_URL=
